<article class="post">
  <h1 class="post-title"><%= page.title %></h1>
  <div class="post-meta">
    <time datetime="<%= page.date.toJSON() %>"><%= date(page.date, config.date_format) %></time>
  </div>
  
  <%- partial('component/gallery') %>
  
  <div class="post-content">
    <%- page.content %>
  </div>
</article>
